<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('build/main.css') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="nav-container">
            <h1>Arte Tech</h1>
            <a href="/">Companies</a>
            <a href="/">Employees</a>
            <a href="/">Periods</a>
            <a href="/">Tasks</a>
        </nav>
        <div class="content-container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
