@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap')
body
    font-family: 'Open Sans', sans-serif
    background-color:  #e7eaef
    color: #080b11

@import 'layout/navigation'
@import 'layout/grid'