.safe-container
    display: flex
    flex-direction: column
    width: calc(100% - 240px)
    height: 100%
    margin-left: 240px
    padding: 20px 40px
    -webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box /* Firefox, other Gecko */
    box-sizing: border-box

.login
    display: flex
    flex-direction: column
    padding: 0 20vw

.content-container
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr))
    grid-gap: 20px

    div
        background-color: $main_light
        min-height: 200px
        color: $main_dark
        padding: 20px
        border-radius: 8px
        box-shadow: #c3c3c3 0px 5px 10px

        p
            margin-left: 20px