.button-add
    background-color: $main_button_green
    padding: 10px 14px
    border-radius: 3px
    color: $main_light
    font-weight: bold
    align-self: center
    margin-left: 20px
    text-decoration: none
    box-shadow: #c3c3c3 0 5px 10px
    transition: all 0.2s ease-in-out

.button-add:hover
    background-color: $secundary_button_green
    box-shadow: #a4a4a4 0 5px 10px
    transform: scale(1.03)
