form
    display: flex
    width: 50%
    background-color: $main_light
    min-height: 200px
    color: $main_dark
    padding: 20px
    border-radius: 8px
    box-shadow: #c3c3c3 0 5px 10px

    div
        display: flex
        width: 100%
        flex-direction: column
        div
            display: flex
            flex-direction: column
            margin: 10px 0

            input
                border: 1px solid $secundary_light
                padding: 4px
                border-radius: 2px
                font-size: 14px

            select
                height: 30px
                background-color: $main_light
                border: 1px solid $secundary_light
                border-radius: 2px

            button
                background-color: $button_green
                padding: 10px 14px
                border-radius: 3px
                color: $main_light
                font-weight: bold
                font-size: 14px
                align-self: center
                text-decoration: none

            button:hover
                background-color: $secundary_green