.login_header
    display: flex
    position: absolute
    justify-content: center
    left: 0
    right: 0
    top: 0
    height: 80px
    background-color: $main_dark

    h1
        color: $main_light
        font-weight: lighter
        align-self: center

.heading_container
    display: flex
    align-items: center

