{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>
    <form>
        <h2>Make their account</h2>
        {{ form(form, {'attr': {'autocomplete': 'disabled'}}) }}
    </form>

{% endblock %}
